@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: #000;
}
::-webkit-scrollbar{
  width: 0.8em;
}
::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#11343a);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, #0ef);
}

/* NAVBAR START */

.navbar {
  border-bottom: 1px solid rgb(53, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.bg-body-tertiary {
  background-color: rgba(1, 1, 1, 0.9) !important;
}
.text-primary {
  color: #fff !important;
}
.text-secondary {
  color: #2b8292 !important;
}
.navbar-brand {
  font-family: "Jaini", system-ui;
}
.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-family: "Teko", sans-serif;
}

.navbar .navbar-nav a:hover {
  color: #11343a !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn-outline-primary {
  --bs-btn-color: rgb(53, 105, 109);
  --bs-btn-border-color: rgb(53, 105, 109);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: rgb(53, 105, 109);
  --bs-btn-hover-border-color: rgb(53, 105, 109);
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: rgb(53, 105, 109);
  --bs-btn-active-border-color: rgb(53, 105, 109);
}

.btn-login:hover {
  transform: scale(1.05);
}
/* NAVBAR END */

/* Project Start */

.container {
  display: flex;
  flex-direction: column;
  padding: 7rem 5%;
}
/* Project End */

/* Footer Start */
.bg-custom {
  background-color: rgba(53, 105, 109, 0.9); 
}
footer .social {
padding: 1rem 0;
}
footer .social a {
color: #eee;
margin: 1rem;
}
footer .social a:hover {
color: #000;
}
footer .links a {
color: #fff;
padding: 0 0.5rem;
text-decoration: none;
}
footer .links a:hover {
color: #000;
}
footer .credit p {
color: #000;
}
footer .credit span {
color: #fff;
font-weight: 400;
}
/* Footer End */
