@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #000;
}
::-webkit-scrollbar{
  width: 0.8em;
}
::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,#11343a);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, #0ef);
}

/* NAVBAR START */

.navbar {
  border-bottom: 1px solid rgb(53, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.bg-body-tertiary {
  background-color: rgba(1, 1, 1, 0.9) !important;
}
.text-primary {
  color: #fff !important;
}
.text-secondary {
  color: #2b8292 !important;
}
.navbar-brand {
  font-family: "Jaini", system-ui;
}
.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-family: "Teko", sans-serif;
}

.navbar .navbar-nav a:hover {
  color: #11343a !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn-outline-primary {
  --bs-btn-color: rgb(53, 105, 109);
  --bs-btn-border-color: rgb(53, 105, 109);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: rgb(53, 105, 109);
  --bs-btn-hover-border-color: rgb(53, 105, 109);
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: rgb(53, 105, 109);
  --bs-btn-active-border-color: rgb(53, 105, 109);
}

.btn-login:hover {
  transform: scale(1.05);
}

/* NAVBAR END */

/* PROJECT FORM START */

.hero-project {
  position: relative;
  background-color: #11343a;
  background: url(../IMG/bg-project.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0));
}
.container {
  width: 350px;
  border: 2px solid rgba(225, 225, 225, 0.4);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group-text,
.form-control,
.form-select,
.form-check-input {
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: #757575;
}
.input-group-text:focus,
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
outline: none;
border-color: transparent;
box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
}
.input-group-text:valid,
.form-control:valid,
.form-select:valid,
.form-check-input:valid {
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: #000;
}
.form-label{
  font-family: "Teko", sans-serif;
}
.btn-dark-green {
  background-color: #11343a;
  color: white;
}
.btn.btn-dark-green:hover {
  background-color: #11343a;
  transform: scale(1.05);
  color: white;
}
/* PROJECT FORM END */

/* PROJECT'S START */

.project-section {
  position: relative;
  background-color: #000;
  padding: 8rem 7% 1.4rem;
}
.project-section h2 {
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-family: "Teko", sans-serif;
}
.project-container {
  padding: 10px 10%;
}
.card{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card img{
  width: 100%;
  border-radius: 10px;
  display: block;
  /* transition: transform 0.8s; */
}
.overlay {
  width: 100%;
  height: 0;
  background: rgba(53, 105, 109, 0.9) ;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  /* transition: max-height 0.8s;
  transition: height 0.8s; */
}
.card:hover img {
  transform: scale(1.1);
}
.card:hover .overlay {
  height: 100%;
}
.overlay .duration{
  color: #373A40;
  font-weight: lighter;
}
.custom-link {
  color: black;
  text-decoration: none;
}
.custom-link:hover {
  color: white;
}
.overlay .edit-btn{
  background-color: #2b8292;
  color: #fff;
}
.overlay .edit-btn:hover{
  color: #000;
  transform: scale(1.1);
}
.overlay .delete-btn{
  background-color: #666;
  color: #000;
}
.overlay .delete-btn:hover{
  color: red;
  transform: scale(1.1);
}
.btn.btn-success:active,
.btn.btn-danger:active {
  background-color: black;
}

/* PROJECT'S END */

/* Footer Start */
.bg-custom {
    background-color: rgba(53, 105, 109, 0.9); 
}
footer .social {
  padding: 1rem 0;
}
footer .social a {
  color: #eee;
  margin: 1rem;
}
footer .social a:hover {
  color: #000;
}
footer .links a {
  color: #fff;
  padding: 0 0.5rem;
  text-decoration: none;
}
footer .links a:hover {
  color: #000;
}
footer .credit p {
  color: #000;
}
footer .credit span {
  color: #fff;
  font-weight: 400;
}
/* Footer End */

@media only screen and (max-width: 1189px) and (min-width: 576px) {
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #11343a;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .navbar .btn-login {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }
  .navbar .btn-login {
    background-color: #000;
    border: 1px solid #000;
  }
  .navbar .navbar-nav a:hover {
    color: #000;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }
}

/* MOBILE */
@media only screen and (max-width: 576px) and (min-width: 300px) {
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #11343a;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a,
  .navbar .btn-login{
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }
  .navbar .btn-login {
    background-color: #000;
    border: 1px solid #000;
  }
  .navbar .navbar-nav a:hover {
    color: #000;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }
}