@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  /* height: 5000px; */
}

/* NAVBAR START */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: rgba(1, 1, 1, 0.9);
  border-bottom: 1px solid rgb(53, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #2b8292;
  font-family: "Jaini", system-ui;
}

.navbar .navbar-nav a {
  color: #fff;
  font-family: "Teko", sans-serif;
  font-size: 1.4rem;
  display: inline-block;
  margin: 1rem;
}

.navbar .navbar-nav a:hover {
  color: #11343a;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #0ef;
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}
.navbar .btn-login{
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #11343a;
  border: 1px solid #11343a;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.btn-login:hover {
  transform: scale(1.05);
}
/* NAVBAR END */

/* PROJECT FORM START */

.hero-project {
  position: relative;
  background-color: #11343a;
  background: url(../IMG/bg-project.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 65%, rgba(0, 0, 0, 0));
}
.container {
  width: 350px;
  margin: 150px auto;
  height: 550px;
  border: 2px solid rgba(225, 225, 225, 0.4);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .form-box h2 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
}
.form-box .input-box {
  margin: 10px 0;
  width: 330px;
}
.form-box label {
  font-size: 1.2rem;
  font-weight: 800;
  font-family: "Teko", sans-serif;
}
.form-box .date-box {
  margin: 10px 0;
  width: 330px;
  display: flex;
  justify-content: space-between;
}
.form-box .date-box input {
  font-size: 1rem;
  background: transparent;
  backdrop-filter: blur(5px);
  border: none;
}
.date-box .startdate,
.date-box .enddate {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.form-box .input-box input {
  background: #fff;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  padding: 5px;
  font-size: 0.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(1, 1, 1, 0.2);
  color: #fffa;
}
.form-box .input-box textarea {
  background: #fff;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100px;
  padding: 5px;
  font-size: 0.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgba(1, 1, 1, 0.2);
  color: #fffa;
}
.tech-section {
  display: flex;
  justify-content: space-between;
}
.tech-section p {
  font-size: 1.2rem;
}
.tech-section p input {
  accent-color: #11343a;
}
.image-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.image-box input {
  font-size: 1.1rem;
  background-color: rgba(1, 1, 1, 0.2);
}

.btn {
  justify-items: center;
  height: 45px;
  margin: 5px 15px;
  width: 90%;
  border-radius: 40px;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #11343a;
  border: 2px solid #0c4345;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}

/* PROJECT FORM END */

/* PROJECT'S START */

.project-section {
  position: relative;
  background-color: #000;
  padding: 8rem 7% 1.4rem;
}
.project-section h2 {
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  font-family: "Teko", sans-serif;
}
.project-container {
  padding: 10px 10%;
}
.card-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.card{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.card img{
  width: 100%;
  border-radius: 10px;
  display: block;
  /* transition: transform 0.8s; */
}
.overlay {
  width: 100%;
  height: 0;
  background: rgba(53, 105, 109, 0.8) ;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  /* transition: max-height 0.8s; */
  /* transition: height 0.8s; */
}
.card:hover img {
  transform: scale(0.8);
}
.card:hover .overlay {
  height: 100%;
}
.overlay h3 {
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  letter-spacing: 2px;
}
.overlay .duration{
  color: #373A40;
  font-weight: lighter;
}
.overlay p{
  overflow-wrap: break-word;
  text-align: justify;
  color: #fff;
  font-weight: 700;
}
.overlay .logo-tech{
  display: flex;
  justify-content: start;
  margin-top: 10px;
  font-size: 15px;
}
.overlay .logo-tech i{
 margin-right: 10px;
}
.overlay a {
  margin-top: 20px;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter;
}
.overlay button{ 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.overlay .edit-btn{
  background-color: #2b8292;
  color: #fff;
}
.overlay .delete-btn{
  background-color: #666;
  color: #000;
}

/* PROJECT'S END */

/* Footer Start */
footer{
  background-color: rgba(53, 105, 109, 0.9);
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 2rem;
}

footer .social{
  padding: 1rem 0;
}

footer .social a{
  color: #eee;
  margin: 1rem;
}

footer .social a:hover{
 color: #000;
}

footer .links{
  margin-bottom: 0.5rem;
}

footer .links a{
  color: #fff;
  padding: 0 0.5rem;
}

footer .links a:hover{
  color: #000;
 }
 footer .credit span{
  color: #fff;
  font-weight: 400;
 }
/* Footer End */

@media only screen and (max-width: 768px) and (min-width: 576px) {
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #11343a;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }
  .navbar .navbar-nav a:hover {
    color: #000;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }
}

/* MOBILE */
@media only screen and (max-width: 576px) and (min-width: 300px) {
  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #11343a;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
  }
  .navbar .navbar-nav a:hover {
    color: #000;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.1);
  }
}